<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UICollectiongView学习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>22800C431CD8AE0B00C16458</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22800C5C1CD8AE0B00C16458</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22800C671CD8AE0B00C16458</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
